body {
    background-color: rgb(255, 255, 255);
    background-image: url(images/sky.png);
    background-position: center center;
    background-attachment: local;
    background-size: cover;
    font-family: 'Yusei Magic', sans-serif;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.title_image {
    padding-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    max-width: 800px;
    width: 85vw;
    height: auto;
}

.warning {
    color: rgb(88, 88, 88);
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}

.comment {
    color: rgb(88, 88, 88);
    background-color: rgba(255, 255, 255);
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    width: 70vw;
    max-width: 350px;
    padding: 10px;
    text-decoration: none;
    justify-content: center;
    border: solid 2px darkcyan;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.comment:hover {
    background-color: darkcyan;
    color: lightcyan;
    cursor: pointer;
    border: solid 2px lightcyan;
}

main {
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.664);
    padding-bottom: 100px;
    position: relative;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    flex: 1;
}
main2 {
    top : 60px;
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.664);
    padding-bottom: 100px;
    position: relative;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    flex: 1;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    background-color: white;
    /* opacity: 0.8; */
    z-index: 1000;
    padding-left: 10px;
}

h1 {
    margin: 0;
    padding: 0px;
    top: 0;
    color: darkcyan;
}

h1 :link {
    color: darkcyan;
    text-decoration: none;
}

h1 :visited {
    color: darkcyan;
    text-decoration: none;
}


button {
    font-size: 28px;
    font-family: Yusei Magic, sans-serif;
    padding: 10px;
    border-radius: 10px;
    background-color: darkcyan;
    border: none;
    color: white;
    display: block;
    margin: 40px auto;
    top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
    background-color: lightcyan;
    color: darkcyan;
    cursor: pointer;
}

.update {
    height: 200px;
    width: 55vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    top: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

.update h2 {
    text-align: center;
    color: darkcyan;
}

.update p {
    text-align: center;
    font-size: 18px;
    color: rgb(88, 88, 88);
    margin: 5px;
}

.update a{
    font-size: 12px;
    color: rgb(88, 88, 88);
    text-decoration: none;
    margin: 3px;
    text-align: center;
    display: block;
}

footer {
    text-align: center;
    font-size: 20px;
    color: darkcyan;
    background-color: white;
    width: 100%;
    height: 150px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    padding-top: 20px;
    margin: 0;
    z-index: 1000;
    position: static;
    line-height: 1px;
}

footer a:link {
    font-size: 16px;
    color: darkcyan;
    text-decoration: none;
}
footer a:hover {
    color: darkcyan;
    text-decoration: none;
}
footer a:visited {
    font-size: 16px;
    color: darkcyan;
    text-decoration: none;
}

.introduction {
    width: 65vw;
    text-align: center;
    margin: 50px auto;
}
.introduction h2 {
    text-decoration: none;
    font-size: 30px;
    color: darkcyan;
    margin: 30px auto;
    
}
.introduction p {
    font-size: 18px;
    color: rgb(88, 88, 88);
    margin: auto;
    width: 50vw;
}
.introduction a {
    font-size: 16px;
    color: rgb(88, 88, 88);
}
.introduction img {
    width: 40vw;
    max-width: 500px;
    display: block;
    position: relative;
    margin: 20px auto;
}

.movie {
    width: 65vw;
    max-width: 800px;
    height: calc(60vw * 9 / 16);
    display: block;
    position: relative;
    margin: 20px auto;
    border: solid 2px darkcyan;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    color: rgb(88, 88, 88);
}
.section h2 {
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    margin-top: 50px;
    color: darkcyan;
}
.section a:link {
    font-size: 16px;
    color: darkcyan;
    text-decoration: none;
}